.portifolioPageRoot {
	width: 60vw;
	margin: auto;
	position: relative;

	padding: 5rem 0;
	padding-bottom: 10rem;

	> h1 {
		padding: 80px 0;
		text-align: center;
	}

	> div {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		> :nth-child(2n) {
			transform: translateY(5rem);
		}
	}

	> span {
		position: absolute;
		bottom: 0;
		right: 0;

		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		a {
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	.portifolioPageRoot {
		width: 100vw;
		padding: 0 1rem;

		> div {
			flex-direction: column;

			> :nth-child(2n) {
				transform: none;
			}
		}
	}
}
