.technologyStackRoot {
	width: 60vw;
	margin: auto;

	padding: 100px 0;

	> h1 {
		padding: 80px 0;
		text-align: center;
	}

	> div {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.technologyStackRoot {
		width: 100vw;
		padding: 0 1rem;

		> div {
			flex-direction: column;
		}
	}
}