.homeRoot {
	height: 100vh;
	color: var(--terciary);

	.homeContent {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: auto;

		height: 100%;
		width: 60vw;

		.introText {
			h1,
			h2 {
				margin: 0;
			}

			h1 {
				margin-bottom: 0.5rem;
			}
		}

		.bottomLearnMore {
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;

			cursor: pointer;

			&:hover .expand-icon {
				transform: translateY(50%);
			}

			> svg {
				transition: transform 0.3s;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.homeRoot {
		max-width: 100vw;

		.homeContent {
			width: 100%;

			.introText {
				padding-left: 2rem;
			}
		}
	}
}
