.homeLandingAnimationRoot {
	margin: 0 auto;

	svg {
		.rightCode {
			.rectangle24 {
				animation: right-code 5s infinite reverse;
				animation-delay: 0s;
			}
			.rectangle25 {
				animation: right-code 5s infinite reverse;
				animation-delay: 3s;
			}
			.rectangle26 {
				animation: right-code 5s infinite reverse;
				animation-delay: 2s;
			}
		}

		.leftCode {
			.rectangle27 {
				animation: right-code 5s infinite reverse;
				animation-delay: 5s;
			}
			.rectangle28 {
				animation: right-code 5s infinite reverse;
				animation-delay: 1s;
			}
			.rectangle29 {
				animation: right-code 5s infinite reverse;
				animation-delay: 2.5s;
			}
		}
	}
}

@keyframes right-code {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
	.homeLandingAnimationRoot {
		margin: 0 auto;
		svg {
			width: 80vw;
			height: auto;
			object-fit: contain;
		}
	}
}